body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-header {
  height: 100px;
  background-color: #2e2e3e;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 1.2rem;
}

.main-layout {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 120px;
  background-color: #2e2e3e;
  color: white;
  padding: 20px;
}

.main-content {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
}

.top-header {
  height: 60px;
  background-color: #2e2e3e;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chart-banner {
  margin-left: auto;
  padding: 0px 3px;
  background-color: #eef6ff;
  color: #1e3a8a;
  font-weight: 550;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

.logout-btn {
  background-color: #1e3a8a;;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background-color: #1e3a8a;;
}
